# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Build
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
